<div ng-include="'../top-nav/top-nav.html'">
</div>
<div class="item-detail">
    <div class="gradient-background">
        <img src="{{vm.item.src}}" style="height: 200px; width: 200px"
        class="img">
    </div>
    <h1 class="item-name">{{vm.item.name}}</h1>
    <span>
        <h2 class="item-time">{{vm.item.time}}</h2>
        <h2 class="item-time">rating: {{vm.item.rating}}</h2>
    </span>
    <p class="item-description">{{item.description}}</p>
    <span style="margin-left: 26%;">
        <div class="circle-button-left" ng-click="vm.bid()">
            <img style="width: 50px; height: 50px; position: relative; left:
            20px; top: 20px;" src="assets/icon2.svg">
            <p>Bid</p>
        </div>
        <div class="circle-button-right" ng-click="vm.guess()">
            <img src="assets/icon1.svg" style="width: 50px; height: 50px;
            position: relative; left: 12px; top: 18px;">
            <p>Guess</p>
        </div>
    </span>
</div>
