  <div class="top-menu" ng-controller="TopNavController as vm">
    <div class="row">
        <div class="col-xs-3" ng-click="vm.itemService.toggleChecked()">
            <img class="nav-icon" src="assets/menu.svg" style="width: 30px;
            height: 30px; position: relative; left: 5px; top: 5px;">
        </div>
        <div class="col-xs-6">
            <h1 class="title">CATALOG</h1>
        </div>
        <div class="col-xs-3">
            <img class="nav-icon" src="assets/icon3.svg" ng-click="vm.openGraph()">
        </div>
    </div>
  </div>
