<div ng-include="'../top-nav/top-nav.html'">
</div>

<div class="item-list">
    <div class="row">
        <div ng-repeat="item in vm.items" class="col-xs-6"
        ng-click='vm.viewItem(item)'>
            <img src="{{item.src}}" style="height: 150px; width: 150px"> 
            <h1 class="item-name">{{item.name}}</h1>
            <span style="margin-left: 27%">
                <i style="display: inline" class="fa fa-clock-o"></i>
                <h2 style="display: inline" class="time-remaining">{{item.time}}</h2>
            </span>
        </div>
    </div>
</div>
